.press-container{
    height: 370vh;
    width: 100vw;
    background-color: rgb(241, 234, 234);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.press-image1{
    display: flex;
    width: 50px;
    transform: translate3d(150px, 190px, 0px);
}


.press-container1{
    display: flex;
    border: 12px ;
    width:1380px;
    height: 60px;
    /* transform: translate3d(420px, -101px, 0px); */
}

.press-text{
   
    background-color: white;
    transform: translate3d(1350px, -1050px, 0px);
    width:877px;
    height: 1010px;
    
}

.news{
    user-select: none;
    cursor: default;
    box-sizing: border-box;
    font-family: gt-sectra;
    line-height: 1.4;
    transform: translate3d(350px, 150px, 0px);
  
    font-size: calc(27px + 17*(100vw - 500px)/1500);
}

/* 
.golf-img{
    display: flex;
    transform: translate3d(155px, 190px, 0px);
}

.golf-img3{
    display: flex;
    flex-direction: column;    
    align-items:flex-start; */
    /* width:50px; */
    /* height:500px; */
    /* transform: translate3d(0px, -950px, 0px);
}

.golf-content{        
    transform: translate3d(5px, 10px, 0px);
} */

/* .exclusive{
    width:600px;
  }

  .golf-img2{
    display: flex;
    flex-direction: column;    
    align-items:flex-end; */
    /* width:50px; */
    /* height:500px; */
    /* transform: translate3d(0px, -400px, 0px);
}

.golf-container1{
    display: flex;
    border: 12px ;
    background-color: rgb(189, 189, 189);
    transform: translate3d(420px, -21px, 0px);
    width:1380px;
    height: 90px;
}

.golf-container2{
    display: flex;
    border: 12px ;
    background-color: rgb(189, 189, 189);
    transform: translate3d(210px, 205px, 0px);
    width:90px;
    height: 350px;
}

.golf-container3{
    display: flex;
    border: 12px ;
    background-color: rgb(189, 189, 189);
    transform: translate3d(540px, -425px, 0px);
    width:980px;
    height: 90px;
}

.golf-container4{
    display: flex;
    border: 12px ;
    background-color: rgb(189, 189, 189);
    transform: translate3d(290px, 259px, 0px);
    width:90px;
    height: 88px;
}

.golf-container5{
    display: flex;
    border: 12px ;
    background-color: rgb(189, 189, 189);
    transform: translate3d(540px, -973px, 0px);
    width:1260px;
    height: 90px;
}

.golf-container6{
    display: flex;
    border: 12px ;
    background-color: rgb(189, 189, 189);
    transform: translate3d(310px, 300px, 0px);
    width:90px;
    height: 138px;
}
.golf-text{
   
    background-color: white;
    transform: translate3d(1500px, -1050px, 0px);
    width:677px;
    height: 610px;
    
}
.golf-text2{
  
    background-color: white;
    transform: translate3d(250px, -1350px, 0px);
    width:807px;
    height: 750px;
    
}
.golf-text3{
    background-color: white;
    transform: translate3d(1400px, -1950px, 0px);
    width:757px;
    height: 750px;
    
}
.golf-title{
    transform: translate3d(20px, 40px, 0px);
}
.explorebtn{
    background-color: white;
    color: black;
    border: 1px solid grey;
    width:190px;
    height:80px;    
    padding: 23px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transform: translate3d(90px,50px, 0px);
   
}

.explorebtn2{
    background-color: white;
    color: black;
    border: 1px solid grey;
    width:190px;
    height:80px;    
    padding: 23px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transform: translate3d(90px,150px, 0px);
   
}

.explorebtn3{
    background-color: white;
    color: black;
    border: 1px solid grey;
    width:190px;
    height:80px;    
    padding: 23px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transform: translate3d(90px,150px, 0px);
   
}
.golf-content{
    
    transform: translate3d(25px, 60px, 0px);
}
.greybox {
    background-color: lightgray;
    height: 10%;
    width: 50%;
    position: relative;
    bottom: 04px;
    z-index: 0;
    left: 450px;
}

.golf {
    height: 370vh;
    width: 100vw;
    background-color: rgb(241, 234, 234);
    display: flex;
    flex-direction: column; */
    /* align-items: center; */
/* } */
