
.nav { 
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  background: transparent;
  margin-top: 10%;
  z-index: 1;
  height: 100px;
  width: 100%;
  color: white;
} 

.header-nav{ 
  position: fixed;
  display: flex;
  color: black;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  margin-top: 4%;
  z-index: 1;
  height: 130px;
  width: 100%;
}
a{
  color: white;
}
 .logo  { 
  position: absolute;
  /* width:15%;
  height:85px; */
  display: flex;
  justify-self: flex-start;
  align-self: center;
  /* top: -25px; */
  left: 10%; 
  color:white;
} 



.logo-menu  { 
  top: 0px;
  left: -75%; 
  filter: invert(100%);
  position: relative;
  display: flex;
  flex-direction: row; 
  /* padding:0px 35px;  */
  /* top: 0px; */
  /* left: 1200px; */
  font-size: 25px;
  color:white;
} 

/* nav ul {
  line-height: 0px;
  padding-left: 10px;
} */

/* nav ul li {
  display:inline-block;
  margin-left: 250px;  
  /* padding-left: 0px;  
} */

/* nav ul li a { */
  /* color: black; */
  /* font-size: 25px; */
  /* padding:1px 0px;  */
  /* border-radius: 3px; */ 
  
/* }  */

.left
{
  position: relative;
  display: flex;
  flex-direction: row-reverse; 
  padding:0px 45px; 
  /* top: 0px; */
  left: -19px;
  font-size: 25px;
  color:white;
}

.left:hover:before {
  /* position: absolute; */
  visibility: visible;
  width: 70%;
  display: flex;  
  padding:1px 4px;
  margin-top: 8%;
  color:white;
}

.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;  
  margin:3px 25px;
  /* text-decoration: black; */
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}



